.search-field {
  width: 500px;
  height: 500px;
  padding: 0 25px;
  background-color: #c6c6c6;
  border-radius: 50%;
  // box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  box-shadow: rgb(0 0 0 / 35%) 0px 0px 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
